@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient-text-hero {
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background: linear-gradient(
            90deg,
            #6366f1 0%,
            /* indigo-600 */ #a5b4fc 50%,
            /* indigo-300 */ #c7d2fe 100% /* indigo-200 */
        );
    }

    .gradient-badgee {
        background: linear-gradient(
            180deg,
            #6366f1 0%,
            #eef2ff 0.01%,
            #a9b9f8 100%
        );
    }

    .pause-animate {
        animation-play-state: paused;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }

    /* Used For Chrome, Opera and Safari */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Used For Firefox: */
    .no-scrollbar {
        scrollbar-width: none;
    }
    /* Used For MS Edge and IE: */
    .no-scrollbar {
        -ms-overflow-style: none;
    }
}
